/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: ;
}

/* VARIABILI */

/* UTILITY */

.bi.bi-bell-fill {
  color: #fd920d;
}

.main {
  height: calc(100vh - 70px);
}

.height-130 {
  height: 130px;
}

.height-300 {
  height: 300px;
  background-color: #610dfd;
}

.height-303 {
  height: 303px;
  background-color: #0dfd99;
}
