/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: ;
}

/* VARIABILI */

/* UTILITY */

.bi.bi-bell-fill {
  color: #fd920d;
}

.main {
  height: calc(100vh - 87px);
}

.badge-edit {
  border-radius: 15px;
}

.name-logo {
  font-size: 30px !important;
  color: #fff;
}

.my-bg-bage {
  background-color: #165bba;
}

.my-bg-blu {
  background-color: #051e34;
}

.my-bg-azzurro {
  background-color: #1b72e8;
}

.plus {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 4px;
}

.my-cursor-a {
  cursor: pointer;
}

.my-cursor-a:hover {
  background-color: grey;
}

.my-border-radius {
  border-radius: 10px;
}
