/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
}

/* HEADER */

#main-header {
  width: 100%;
  /* height: 70px; */
}

.bi.bi-bell-fill {
  color: #fd920d;
}

.name-logo {
  font-size: 30px !important;
  color: #fff;
}

.badge-edit {
  border-radius: 15px;
}

.my-bg-bage {
  background-color: #165bba;
}

.my-align-items {
  align-items: center;
}
/* ASIDE */

.my-bg-blu {
  background-color: #051e34;
}
/* MAIN */
main {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  overflow: auto;
}

main > aside {
  width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-content {
  width: calc(100% - 130px);
  height: 100%;
}

#main-content > header {
  width: 100%;
  /* height: 150px; */
}

.my-bg-azzurro {
  background-color: #1b72e8;
}

/* MEDIA QUERY */

@media all and (max-width: 992px) {
  main > aside {
    width: 80px;
  }

  #main-content {
    width: calc(100% - 80px);
  }
}

.plus {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 4px;
}

.my-cursor-a {
  cursor: pointer;
}

.my-cursor-a:hover {
  background-color: grey;
}

.my-border-radius {
  border-radius: 10px;
}
